
{% if is_paginated %}
    {% include 'partial/paginate.html' %}
{% endif %}


{% for article in articles %}
    <div class="box">
        <h3><a href="{% url "article:view" article.pk %}">{{ article.title }}</a></h3>
        <p>
            <label for="selected_articles-{{ article.pk }}">Select:</label>

            <input type="checkbox" name="selected_articles"

                   id="selected_articles-{{ article.pk }}" value="{{ article.pk }}">
        </p>

        <p>
            {% if article.author %}
                <a href="{% url 'accounts:user-detail' article.author_id %}">{{ article.author }}</a>
            {% else %}
                <span>Нет автора</span>
            {% endif %}
                | {{ article.created_at|date:"d.m.Y H:i:s" }}
            <p class="counter">Likes : {{ article.article_likes.count }}</p>
    {% if user.is_authenticated %}
        <button class="likeButton" style="{% if article.pk in liked_articles %}display: none{% endif %}"><a onclick="like_function(event)" href="{% url 'article:like' article.id %}">Like</a></button>
        <button class="unlikeButton" style="{% if article.pk not in liked_articles %}display: none{% endif %}"><a onclick="unlike_function(event)" href="{% url 'article:unlike' article.id %}">Unlike</a></button>
    {% endif %}
        </p>
    </div>

{% empty %}
    <h2 class="text-center">Нет статей</h2>
{% endfor %}


{% if is_paginated %}
     {% include 'partial/paginate.html' %}
{% endif %}


